@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
    border: 0;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    outline: none;
    color: inherit;
    font-style: inherit;
    font-family: inherit;
    scrollbar-width: thin;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    scrollbar-color: #888 #f1f1f1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
}

.section1 img {
    width: 100%;
    display: block;
}

/* 
@media (max-width: 1150px) {
    main .section2 {
        height: 90vh;
    }
}

@media (max-width: 900px) {
    main .section2 {
        height: 80vh;
    }
    main .section2 h2 {
        font-size: 2.4vw;
        margin-top: 6rem;
    }
} 
*/

/* 
1250px
585px
425px
*/

@media (max-width: 1600px) {
    main .section2 {
        height: 90vh;
    }
}

@media (max-width: 1250px) {
    main .section2 {
        height: 80vh;
    }

    main .section2 h2{
        font-size: 3vw;
    }
}

@media (max-width: 1065px) {
    main .section2 {
        height: 70vh;
    }

    .section2 .marcas {
        background-size: 90%;
    }

    main .section2 h2 {
        font-size: 3vw;
    }
}

@media (max-width: 880px) {
    main .section2 h2{
        font-size: 4vw;
    }

    footer p {
        font-size: 2000px;
    }
}

.section2 {
    background-image: url('image/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 105vh;
}

.section2 .marcas { /* deixar as marcas em um tamanho bom para o celular e pc */
    background-color: #101010e5;
    background-image: url('image/image1.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 2px solid #F3B640;
    border-bottom: 2px solid #F3B640;
    padding: 6%;
}

.section2 h2 {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 12rem;
    font-size: 2.5vw; /* diminuir a section2 e depois arrumar isso aqui */
}

.section2 strong {
    color: #37DE23;
}

footer {
    background-color: black;
    color: white;
    border-top: 2px solid #F3B640;
    height: 100%;
    padding: 20px;
}

footer p { /* footer está crescendo quando a tela diminui */
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 30px; /* padding: 3%; */
}

/* fazer media query para celular deitado    */