@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
    border: 0;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    outline: none;
    color: inherit;
    font-style: inherit;
    font-family: inherit;
    scrollbar-width: thin;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    scrollbar-color: #888 #f1f1f1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    width: auto;
}

@media (max-width: 1720px) {
    main .section1 a {
        
    }
}

@media (max-width: 1250px) {
    main .section2 h2 {
        
    }
}

@media (max-width: 995px) {
    main .section2 h2 {
        font-size: 1.5rem;
        margin-top: 8rem;
    }

    .section2 {
        height: 90vh;
    }

    .section2 .marcas {
        background-size: 90%;   
    }
}

@media (max-width: 595px) {
    html footer p {
        font-size: 1.2rem;
    }
}

@media (max-width: 535px) {
    main .section2 h2 {
        font-size: 1.3rem;
    }
    
    .section2 {
        height: 80vh;
    }
}

.section1 img {
    width: 100%;
    display: block;
}

.section1 a {
    background-image: linear-gradient(to right, #727272, #474747); /* #858585 */
    border-radius: 50px;
    width: 30%;
    padding: 15px 0px;
    font-size: 2.5vw;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 62vw;
    left: 34vw;
}

.section2 {
    background-image: url('image/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
}

.section2 .marcas { /* deixar as marcas em um tamanho bom para o celular e pc */
    background-color: #101010e5;
    background-image: url('image/image1.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 2px solid #F3B640;
    border-bottom: 2px solid #F3B640;
    padding: 8%;
}

.section2 h2 { /* diminuir o tamanho da fonte pelo media querie */
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 12rem;
    font-size: 2.8rem; /* 2.5vw */
}

.section2 strong {
    color: #37DE23;
}

footer {
    background-color: black;
    color: white;
    border-top: 2px solid #F3B640;
    height: 100%;
    padding: 20px;
}

footer p { /* footer está crescendo quando a tela diminui */
    text-align: center;
    font-weight: 300;
    font-size: 1.45rem;
    padding: 18px;
}

/* fazer media query para celular deitado    */