@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
    border: 0;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    outline: none;
    color: inherit;
    font-style: inherit;
    font-family: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.section1 img {
    width: 100%;
    display: block;
}

.section1 a {
    background-image: linear-gradient(to right, #727272, #474747);
    border-radius: 50px;
    width: 30%;
    padding: 15px 20px;
    font-size: 2.5vw;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 60vw;
    left: 33vw;
}

.section1 a, .section2 a { /* animação leve ao tirar o mouse */
    transition: transform 0.3s;
}

.section1 a:hover, .section2 a:hover { /* animação leve ao passar o mouse */
    opacity: 0.8;
    transition: opacity 0.3s;
    transform: scale(1.1);
    transition: transform 0.3s;
}

.section2 {
    background-image: url('image/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;   
}

.section2 .marcas {
    background-color: #101010e5;
    background-image: url('image/image1.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 2px solid #F3B640;
    border-bottom: 2px solid #F3B640;
    padding: 8%;
}

.section2 h2 {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 10%;
    font-size: 2.8rem;
}

.section2 strong {
    color: #37DE23;
}

.section2 .botao2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section2 a {
    background-color: rgb(44, 163, 30, 0.35);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 85px 15px 30px;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    backdrop-filter: blur(15px);
    margin-top: 3.5%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 30px 5px black;
}

.section2 a img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 10%;
    left: 77%;
}

footer {
    background-color: black;
    color: white;
    border-top: 2px solid #F3B640;
    height: 100%;
    padding: 20px;
}

footer p {
    text-align: center;
    font-weight: 300;
    font-size: 1.45rem;
    padding: 18px;
}

@media (max-width: 1400px) {
    .section2 h2 {
        margin-top: 15%;
    }

    .section2 a {
        margin-bottom: 15%;
    }
}

@media (max-width: 1025px) {
    .section1 a {
        width: 40%;
        font-size: 3.5vw;
        left: 26vw;
    }

    .section2 .marcas {
        background-size: 90%;
    }

    .section2 h2 {
        font-size: 3.5vw;
        margin-top: 23%;
    }

    .section2 a {
        font-size: 3.5vw;
        margin-bottom: 23%;
        padding-left: 3%;
        padding-right: 8%;
    }

    .section2 a img {
        width: 4rem;
        height: 4rem;
        top: 8%;
        left: 76%;
    }
}

@media (max-width: 800px) { /*  */
    .section2 a img {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (max-width: 725px) { /*  */
    .section2 a {
        padding-right: 10%;
    }
    
    .section2 a img {
        width: 3rem;
        height: 3rem;
        top: 13%;
        left: 76%;
    }
}

@media (max-width: 595px) {
    .section2 h2 {
        font-size: 1.5rem;
        margin-top: 30%;
    }

    .section2 a {
        margin-bottom: 30%;
        font-size: 1.5rem;
    }

    footer p {
        font-size: 1.2rem;
    }
}

@media (max-width: 535px) {
    .section2 h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 450px) { /*  */
    .section2 a {
        padding-right: 15%;
    }
}